extend layout
    
block content
    h1= title
    p Welcome to #{title}
    div(class="row")
        div(class="col-md-4")
            ul(class="list-group",id="users")
                div(class="typing")
        div(class="col-md-8")
            div(class="col-md-12",id="messages")
            div(class="col-md-12")
                div(class="input-group mb-3" style="direction: ltr;")
                    input(type="text" class="form-control" id="chat" dir="rtl" placeholder="چیزی بنویسید..." aria-label="Example text with button addon" aria-describedby="button-addon1")    
    script(src='https://code.jquery.com/jquery-1.10.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js')
    script.
        var socket = io()
        socket.on('chat message', function (data) {
            document.getElementById('content').innerHTML += "<div style='margin-bottom: 20px'><b>" + data + "</b></div>"
        });
    
        document.getElementById('chat').addEventListener('change', function (e) {
            e.preventDefault(); // prevents page reloading
            socket.emit('chat_message', event.target.value);
            event.target.value = '';
            socket.emit('typing', false);
            $('.typing').html("");
            return false;
        });
        socket.on('chat_message', function (msg, user) {
            if (user === username) {
                $('#messages').prepend($('<div class="col-md-12 message me">').append("<span>"+msg+"<small>"+nowTime()+"</small></span>"));
            } else {
                $('#messages').prepend($('<div class="col-md-12 message other">').append("<span>"+msg+"<small>"+nowTime()+"</small></span>"));
            }
        });
        socket.on('is_online', function (username) {
            $('#users').append("<li class='list-group-item'>"+username+"</li>");
            
        });
        socket.on('is_typing', function (data) {
            $('#is_typing').empty();
            $('#is_typing').append($('<li>').html(data));
        });
        var username = prompt('Please tell me your name');
        if (username) {
            socket.emit('username', username);
        }
        $('#chat').keyup(function (e) {
            if (e.which === 13) {
                socket.emit('typing', false);
            } else if ($('#chat').val() !== '') {
                socket.emit('typing', true);
            } else {
                socket.emit('typing', false);
            }
        });
        $('window,html').keyup(function (e) {
           $('#chat').focus()
        });
        socket.on('typing', function (user, isTyping) {
            if (user === username) {
                $('.typing').html('');
                return
            }
            if (isTyping === true) {
                $('.typing').html(user + ' is typing...');
            } else {
                $('.typing').html('');
            }
        });
        function nowTime(){
            var time =  new Date()
            return time.getHours() + ":" + time.getMinutes() + ":" + time.getSeconds()
        }

